<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol
            class="breadcrumb mb-0 d-flex align-items-center"
            style="cursor: pointer"
            (click)="goBack()"
          >
            <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
            <li class="breadcrumb-item">&nbsp; Back</li>
          </ol>
        </nav>
      </div>
    </div>

    <app-client-detail-view [clientData]="client"></app-client-detail-view>

    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-body text-center">
            <!-- header for table  -->
            <div class="d-flex justify-content-between mt-2">
              <h4>List of {{ "global.consulting" | translate }}</h4>
              <div class="filter-add-section">
                <div class="col-md-12">
                  <button
                    type="button"
                    pButton
                    class="p-button"
                    (click)="open()"
                  >
                    Add Consulting
                  </button>
                </div>
              </div>
            </div>
            <!-- end of header table  -->

            <!-- table for cient display -->
            <app-table
              [data]="client?.consulting"
              [isFromDetails]="true"
              [tableHeader]="clientConsultingTableData.header"
              [tableData]="clientConsultingTableData"
              (changeDetect)="handleChange($event)"
            ></app-table>
            <!-- end of table  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
