<div class="consulting-container col-12">
  <div class="d-flex justify-content-between align-items-center">
    <h4>{{ "global.consulting" | translate }}</h4>
    <div class="filter-add-section">
      <div class="col-md-12">
        <button type="button" pButton class="p-button mr-2" (click)="open()">
          Add Consulting
        </button>
      </div>
    </div>
  </div>
  <app-table
    [data]="sortedList"
    [isFromDetails]="true"
    [tableHeader]="ConsultingTableData.header"
    [tableData]="ConsultingTableData"
    (changeDetect)="changeDetect($event)"
  ></app-table>
</div>
