.full-layout {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar-container {
        margin-left: 16rem;
        // overflow-y: auto;
        // height: calc(100vh - 130px);
        // min-height: calc(100vh - 130px);
    }
    .container {
        margin-left: 0px 5%;
        max-width: 90%;
        // overflow-y: auto;
        // height: calc(100vh - 130px);
        // min-height: calc(100vh - 130px);
    }
}
