// ******font-families********
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Kruti Dev";
  src: url("../assets/fonts/Kruti-Dev-010-Regular/Kruti-Dev-010-Regular.ttf")
    format("truetype");
}

:host::ng-deep.p-dialog .p-dialog-footer button {
  background: #012970;
}

:host::ng-deep.p-dialog .p-dialog-footer button:hover {
  background: #4154f1;
}
