<form [formGroup]="consultingForm">
  <div class="col-md-12">
    <div class="card-body text-black">
      <div class="row" *ngIf="isFromConsulting">
        <div class="col-md-12 mb-4">
          <label class="form-label">Client*</label>
          <p-dropdown
            [options]="clients"
            optionLabel="firstName "
            formControlName="id"
            optionValue="id"
            placeholder="Select Client"
            optionLabel="name"
          ></p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-4">
          <label class="form-label">Date*</label>
          <input
            type="date"
            class="form-control form-control-lg"
            formControlName="date"
          />
        </div>
      </div>

      <div class="col-md-12 mb-4">
        <label class="form-label" for="form3Example8"
          >Consulting For*</label
        >
        <div class="form-outline">
          <input
            type="text"
            id="form3Example8"
            class="form-control form-control-lg"
            formControlName="consulting"
          />
        </div>
      </div>
      <label class="form-label"> Consulting Details</label>
      <app-quill-editor
        [formGrop]="consultingForm"
        [fieldName]="'consultingDescription'"
      ></app-quill-editor>

      <div class="col-md-12 mb-4">
        <div class="form-outline">
          <label class="form-label">Resolution*</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="resolution"
          />
        </div>
      </div>

      <div class="col-md-12 mb-4">
        <div class="form-outline">
          <label class="form-label">Comprehensive Solution</label>
          <app-quill-editor
            [formGrop]="consultingForm"
            [fieldName]="'pDescription'"
          ></app-quill-editor>
        </div>
      </div>

      <div
        class="col-md-12 d-flex justify-content-between align-items-center mb-4"
      >
        <div class="col-6 width-set">
          <div class="col-md-12 mb-4">
            <label class="form-label">Fees (INR)*</label>
            <input
              type="number"
              class="form-control form-control-lg fees-large"
              formControlName="fees"
            />
          </div>
        </div>
        <div class="col-6 width-set">
          <div class="col-md-12 mb-4">
            <label class="form-label">Paid*</label>
            <div
              *ngFor="let category of feesOptions"
              class="p-field-checkbox"
            >
              <p-radioButton
                [value]="category?.value"
                formControlName="paid"
              ></p-radioButton>
              <label
                class="form-check-label left-align"
                for="category?.value"
                >{{ category?.label }}</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end pt-3">
        <button
          (click)="resetDetails()"
          pButton
          pRipple
          type="button"
          label="Reset all"
          class="p-button-outlined button p-button-secondary"
        ></button>
        <p-button
          label="{{ this.config.data ? 'Update Details' : 'Submit' }}"
          (onClick)="submitDetails()"
          [disabled]="!consultingForm.valid"
        ></p-button>
      </div>
    </div>
  </div>
</form>