.submit-button {
    color: #fff;
    background: #1d4e87;
    border: none;
    border-radius: 5px;
}
.submit-button-invalid {
    color: #fff;
    background: #1d4e87;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    cursor: default;
}
.button {
    background: #fff !important;
    margin-right: 5px !important;
    color: #040408 !important ;
}
.width-set {
    width: 49% !important;
}
.fees-large {
    font-size: 1rem;
    border-radius: 0.2rem;
}