// ******font-families********
@font-face{
  font-family: "text-align";
  src: url("../../../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
/* Set default font-family */
.quill-editor .ql-editor {
    font-family: "Arial";
  }
  
  .quill-editor .arial .ql-editor {
    font-family: "Arial";
  }
  
  .quill-editor .timesNewRoman .ql-editor {
    font-family: "Times New Roman";
  }
  
  .quill-editor .roboto .ql-editor {
    font-family: "text-align";
  }

  .quill-editor .sansSerif .ql-editor {
    font-family: "Sans Serif";
  }
  
  .quill-editor .zapfino .ql-editor {
    font-family: "Zapfino";
  }
  
  /* Set dropdown font-families */
  .quill-editor .ql-formats .ql-font span[data-label="Arial"]::before {
    font-family: "Arial";
  }
  
  .quill-editor .ql-formats .ql-font span[data-label="Times New Roman"]::before {
    font-family: "Times New Roman";
  }
  
  .quill-editor .ql-formats .ql-font span[data-label="Sans Serif"]::before {
    font-family: "Sans Serif";
  }
  
  .quill-editor .ql-font .arial {
    font-family: Arial;
  }
  
  .quill-editor .ql-font .timesNewRoman {
    font-family: "Times New Roman";
  }
  
  .quill-editor .ql-font .sansSarif {
    font-family: "Sans Serif";
  }
  
  .quill-editor .ql-font .zapfino {
    font-family: "Zapfino";
  }
  
  .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=""])::before {
    overflow-wrap: break-word;
    word-break: break-all;
    width: auto;
  }
  
  .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    right: auto;
  }
  
  .ql-size {
    margin-left: 10px;
    width: auto;
  }