<div class="sidebar">
  <p-sidebar
    appearance="vertical-bar"
    [visible]="visibleSidebar"
    [showCloseIcon]="false"
    [modal]="false"
  >
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard">
          <i class="pi pi-chart-bar" style="font-size: 1rem;"></i>
          <span class="mt-1">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/clients">
          <i class="pi pi-users" style="font-size: 1rem"></i>
          <span>Clients</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/consulting">
          <i class="pi pi-book" style="font-size: 1rem;"></i>
          <span class="mt-1">Consulting</span>
        </a>
      </li>
    </ul>
  </p-sidebar>
</div>
