.consulting-container {
  padding: 0.8rem !important;
}

.link-color {
  color: #012970;
}

.link-color:hover {
  color: #4154f1;
}

.ql-font .arial {
  font-family: Arial;
}

.ql-font .timesNewRoman {
  font-family: "Times New Roman";
}

.ql-font .sansSarif {
  font-family: "Sans Serif";
}

.ql-font .roboto {
  font-family: "Roboto";
}

.ql-font .zapfino {
  font-family: "Zapfino";
}

.ql-font .krutiDev {
  font-family: "Kruti Dev";
}
