<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol
            class="breadcrumb mb-0 d-flex align-items-center"
            style="cursor: pointer"
            (click)="goBack()"
          >
            <div class="link-color d-flex align-items-center">
              <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
              <li class="breadcrumb-item">&nbsp; Back</li>
            </div>
          </ol>
        </nav>
      </div>
    </div>

    <app-client-detail-view [clientData]="clientData"></app-client-detail-view>

    <div class="row consulting-container">
      <div class="card mb-4">
        <div class="card-body">
          <p class="text-right" style="text-align: right">
            <small class="text-muted">{{ selectedConsulting?.date }}</small>
          </p>
          <h5 class="card-title">{{ selectedConsulting?.consulting }}</h5>
          <div class="card-text ql-font">
            <p
              class="text-muted mb-0"
              [ngClass]="selectedConsulting?.consultingDescription_fontStyle"
              [innerHTML]="selectedConsulting?.consultingDescription"
            ></p>
          </div>

          <hr />

          <h5 class="card-title">{{ selectedConsulting?.resolution }}</h5>
          <div class="card-text ql-font">
            <p
              class="text-muted mb-0"
              [ngClass]="selectedConsulting?.pDescription_fontStyle"
              [innerHTML]="selectedConsulting?.pDescription"
            ></p>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                Consulting Fees
                {{ selectedConsulting?.paid ? "Paid" : "Unpaid" }}
              </p>
            </div>
            <div class="col-sm-9">
              <p
                class="text-muted mb-0"
                [innerHTML]="selectedConsulting?.fees"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
